# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Databases
*.sqlite3
*.db

# Environments
.env
.flaskenv

# Editor settings
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Flask/SQLAlchemy
instance/
